<!DOCTYPE html>
<html>
  <head>
    <title>Create a Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <img src="/images/logo.jpeg" class="header-img" />
      <div class="header-right">
        <a href="/posts">All Posts</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <!-- Post Details -->
    <div>
      <h2>Post Details</h2>
      <section id="show-page">
        <div>Title:</div>
        <div><%= post.title%></div>
        <div>Question:</div>
        <div><%= post.question %></div>
      </section>
    </div>

    <!-- Comment Section -->
    <div>
      <br /><br />
      <h2>Comments</h2>
      <form
        id="add-comment-form"
        method="POST"
        action="/posts/<%= post._id %>/show"
      >
        <label>Comment:</label>
        <textarea name="content"></textarea>
        <input class="a2" type="submit" value="Add Comment" />
      </form>

      <% if (post.comments) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <% let total = 0 %> <% post.comments.forEach(function(c) { %>
          <tr>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
          </tr>
          <% }); %>
          <tr>
            <td colspan="2"></td>
            <td>
              <strong><%= (total / post.comments).toFixed(1) %></strong>
            </td>
          </tr>
        </tbody>
      </table>
      <% } else { %>
      <h5>No Comments Yet</h5>
      <% } %>
    </div>
  </body>
</html>
